/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Monserrat", Arial, sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1,
h2,
h3 {
  font-family: "Monserrat", Arial, sans-serif;
  line-height: 1;
}

h1 {
  font-size: 27px;
}

p {
  font-size: 10px;
}

blockquote {
  margin: 0;
}

.quotation-mark {
  position: absolute;
  font-family: serif;
  font-weight: bold;
  margin: 0;
  font-size: 60px;
  top: -60px;
}

.diamond {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #3b455b;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.text-border:before {
  content: "";
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  border-bottom: 1px solid #cdcece;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  width: 100%;
  z-index: -1;
}

.text-white {
  color: #ffffff;
}

.text-red {
  color: #c75d49;
}

.text-grey-green {
  color: #567281;
}

.text-dark-green {
  color: #3b455b;
}

.text-dark-blue-green {
  color: #3a4459;
}

.as-flex-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.ta-center {
  text-align: center;
}

.tt-uppercase {
  text-transform: uppercase;
}

.fw-bold {
  font-weight: 700;
}

.bg-white {
  background-color: #ffffff;
}

.bg-grey {
  background-color: #eef1f2;
}

.bg-grey-green {
  background-color: #567281;
}

.page-meet-the-team .meet-the-team-container {
  max-width: 1160px;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 54px;
  margin-bottom: 54px;
}

@media (min-width: 1160px) {
  .page-meet-the-team .meet-the-team-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-meet-the-team .meet-the-team-grid {
  padding-top: 54px;
  padding-bottom: 54px;
}

@media (max-width: 767px) {
  .page-meet-the-team .meet-the-team-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 18px;
    padding-right: 18px;
  }
  .page-meet-the-team .meet-the-team-grid .meet-the-team-grid-item:not(:last-child) {
    margin-bottom: 54px;
  }
  .page-meet-the-team .meet-the-team-grid .meet-the-team-grid-item:last-child {
    margin-bottom: calc(54px* 2);
  }
}

@supports not (display: grid) {
  .page-meet-the-team .meet-the-team-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-meet-the-team .meet-the-team-grid .meet-the-team-grid-item {
    max-width: 350px;
    margin-bottom: 54px;
  }
  .page-meet-the-team .meet-the-team-grid .meet-the-team-quote {
    width: 350px;
  }
  @media (min-width: 768px) {
    .page-meet-the-team .meet-the-team-grid .join-our-team {
      margin-left: 60px;
    }
  }
  .page-meet-the-team .meet-the-team-grid::after {
    content: "";
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

@supports (display: grid) {
  @media (min-width: 768px) {
    .page-meet-the-team .meet-the-team-grid {
      display: -ms-grid;
      display: grid;
      grid-gap: 60px 45px;
      -ms-grid-columns: (minmax(200px, 450px))[3];
          grid-template-columns: repeat(3, minmax(200px, 450px));
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      justify-items: center;
    }
  }
}

.page-meet-the-team .meet-the-team-headline {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
}

.page-meet-the-team .meet-the-team-headline .meet-the-team-headline-text {
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 768px) {
  .page-meet-the-team .meet-the-team-headline {
    letter-spacing: 4px;
    width: 384px;
  }
  .page-meet-the-team .meet-the-team-headline .meet-the-team-headline-text {
    margin-left: 0;
    margin-right: 0;
  }
}

.page-meet-the-team .meet-the-team-quote {
  font-weight: 700;
  padding-top: 32px;
}

.page-meet-the-team .meet-the-team-quote .quote-text {
  font-size: 12px;
}

.page-meet-the-team .meet-the-team-quote .quote-author {
  font-size: 10px;
}

@media (max-width: 767px) {
  .page-meet-the-team .meet-the-team-quote {
    height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .page-meet-the-team .meet-the-team-quote.hemmingway-quote, .page-meet-the-team .meet-the-team-quote.thompson-quote {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 90px;
  }
  .page-meet-the-team .meet-the-team-quote.hemmingway-quote {
    padding-left: 124px;
  }
  .page-meet-the-team .meet-the-team-quote.thompson-quote {
    justify-self: flex-start;
  }
}

.page-meet-the-team .meet-the-team-profile-detail .meet-the-team-profile-detail-inner {
  position: relative;
  max-height: 450px;
  max-width: 350px;
}

.page-meet-the-team .meet-the-team-profile-detail .meet-the-team-profile-detail-inner .profile-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(86, 114, 129, 0.8);
  max-height: 450px;
}

.page-meet-the-team .meet-the-team-profile-detail .meet-the-team-profile-detail-inner .profile-overlay .profile-overlay-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-meet-the-team .meet-the-team-profile-detail .meet-the-team-profile-detail-inner .profile-overlay .profile-overlay-content .profile-overlay-content-title {
  font-size: 12px;
}

.page-meet-the-team .profile-overlay-content,
.page-meet-the-team .join-our-team {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-meet-the-team .join-our-team {
  max-width: 350px;
  height: 450px;
}

.page-meet-the-team .join-our-team .join-our-team-inner {
  padding: 62px;
  letter-spacing: 4px;
}

.page-meet-the-team .join-our-team .join-our-team-image {
  bottom: -54px;
  right: 18px;
}

.page-meet-the-team .join-our-team .join-our-team-image img {
  border-radius: 50%;
}

@media (min-width: 768px) {
  .page-meet-the-team .join-our-team .join-our-team-image {
    right: -54px;
  }
}

.page-meet-the-team .meet-the-team-border {
  position: relative;
}

.page-meet-the-team .meet-the-team-bottom-icon {
  width: 53px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .page-meet-the-team .meet-the-team-bottom-icon {
    margin-top: 54px;
  }
}
/*# sourceMappingURL=style.css.map */