// STYLEGUIDE
h1,
h2,
h3 {
  font-family: $text-font;
  line-height: 1;
}
h1 {
  font-size: $type-headline-lg;
}
p {
  font-size: $type-body-sm;
}

blockquote {
  margin: 0;
}

.quotation-mark {
  position: absolute;
  font-family: serif;
  font-weight: bold;
  margin: 0;
  font-size: 60px;
  top: -60px;
}

.diamond {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: $darkgreen;
  transform: rotate(45deg);
}

.text-border {
  &:before {
    content: "";
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    border-bottom: 1px solid $lightgreen;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    width: 100%;
    z-index: -1;
  }
}
