// UTILITIES

// text color helpers
.text-white {
  color: $white;
}

.text-red {
  color: $red;
}

.text-grey-green {
  color: $greygreen;
}

.text-dark-green {
  color: $darkgreen;
}

.text-dark-blue-green {
  color: $darkbluegreen;
}

// alignment and position helpers
.as-flex-end {
  align-self: flex-end;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

// text helpers
.ta-center {
  text-align: center;
}
.tt-uppercase {
  text-transform: uppercase;
}
.fw-bold {
  font-weight: 700;
}

// backgrounds
.bg-white {
  background-color: $white;
}

.bg-grey {
  background-color: $grey;
}

.bg-grey-green {
  background-color: $greygreen;
}
