// VARIABLES
$text-font: "Monserrat", Arial, sans-serif;

$red: #c75d49;
$greygreen: #567281;
$greygreenoverlay: rgba(86, 114, 129, 0.8);
$darkgreen: #3b455b;
$lightgreen: #cdcece;
$white: #ffffff;
$grey: #eef1f2;
$darkbluegreen: #3a4459;

$type-headline-lg: 27px;
$type-headline-sm: 16px;
$type-body-med: 12px;
$type-body-sm: 10px;

$line-global: 18px;
$gutter-global: 62px;
$offset-global: 54px;

$profile-card-height: 450px;
$profile-card-width: 350px;

$breakpoint-desktop: 1160px;
$breakpoint-tablet: 768px;
