.page-meet-the-team {
  .meet-the-team-container {
    max-width: $breakpoint-desktop;
    padding-left: $line-global;
    padding-right: $line-global;
    margin-top: $offset-global;
    margin-bottom: $offset-global;
    @media (min-width: $breakpoint-desktop) {
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
    }
  }
  // my main grid
  .meet-the-team-grid {
    padding-top: $offset-global;
    padding-bottom: $offset-global;
    @media (max-width: $breakpoint-tablet - 1px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: $line-global;
      padding-right: $line-global;
      .meet-the-team-grid-item {
        &:not(:last-child) {
          margin-bottom: $offset-global;
        }
        &:last-child {
          margin-bottom: calc(#{$offset-global}* 2);
        }
      }
    }
    // flex backup
    @supports not (display: grid) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .meet-the-team-grid-item {
        max-width: $profile-card-width;
        margin-bottom: 54px;
      }
      .meet-the-team-quote {
        width: $profile-card-width;
      }
      @media (min-width: $breakpoint-tablet) {
        .join-our-team {
          margin-left: 60px;
        }
      }
      // trick I found for getting rid of the extra space before the last item
      &::after {
        content: "";
        flex: auto;
      }
    }
    @supports (display: grid) {
      @media (min-width: $breakpoint-tablet) {
        display: grid;
        grid-gap: 60px 45px;
        grid-template-columns: repeat(3, minmax(200px, $profile-card-height));
        align-items: center;
        justify-items: center;
      }
    }
  }
  .meet-the-team-headline {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background: $white;
    .meet-the-team-headline-text {
      font-size: $type-headline-sm;
      margin-left: $type-body-sm;
      margin-right: $type-body-sm;
      @include flex-space-around;
    }
    @media (min-width: $breakpoint-tablet) {
      letter-spacing: 4px;
      width: 384px;
      .meet-the-team-headline-text {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .meet-the-team-quote {
    font-weight: 700;
    padding-top: 32px;

    .quote-text {
      font-size: $type-body-med;
    }
    .quote-author {
      font-size: $type-body-sm;
    }
    @media (max-width: $breakpoint-tablet - 1px) {
      height: $profile-card-height;
      display: flex;
      align-items: center;
    }
    @media (min-width: $breakpoint-tablet) {
      &.hemmingway-quote,
      &.thompson-quote {
        align-self: flex-end;
        margin-bottom: 90px;
      }
      &.hemmingway-quote {
        padding-left: 124px;
      }
      &.thompson-quote {
        justify-self: flex-start;
      }
    }
  }

  .meet-the-team-profile-detail {
    .meet-the-team-profile-detail-inner {
      position: relative;
      max-height: $profile-card-height;
      max-width: $profile-card-width;
      .profile-overlay {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $greygreenoverlay;
        max-height: $profile-card-height;
        .profile-overlay-content {
          flex-direction: column;
          .profile-overlay-content-title {
            font-size: $type-body-med;
          }
        }
      }
    }
  }

  .profile-overlay-content,
  .join-our-team {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .join-our-team {
    max-width: $profile-card-width;
    height: $profile-card-height;
    .join-our-team-inner {
      padding: $gutter-global;
      letter-spacing: 4px;
    }
    .join-our-team-image {
      bottom: -#{$offset-global};
      right: $line-global;
      // just make it a circle until real icon is put in
      img {
        border-radius: 50%;
      }
    }
    @media (min-width: $breakpoint-tablet) {
      .join-our-team-image {
        right: -#{$offset-global};
      }
    }
  }

  .meet-the-team-border {
    position: relative;
  }

  .meet-the-team-bottom-icon {
    width: 53px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $breakpoint-tablet) {
      margin-top: $offset-global;
    }
  }
}
